.git
.github
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
media
staticfiles
node_modules
*.sql
*.zip
.gitignore
.vscode
.pytest_cache
.coverage
htmlcov
check_db_schema.py
pyrightconfig.json