-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: dbrecruitai_database
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `applicant`
--

LOCK TABLES `applicant` WRITE;
/*!40000 ALTER TABLE `applicant` DISABLE KEYS */;
/*!40000 ALTER TABLE `applicant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$1200000$xWnlNCwDsIDtBkJ3WCqQ0s$0ifcpp2ByBMQXWlGqJOXeqaxG8wuaeLeQLmwXDTMVv0=','2026-07-31 08:51:49.910840',1,'admin','','','tyrnesantos04@gmail.com',1,1,'2026-07-03 15:58:12.000000');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'auth','user'),(5,'contenttypes','contenttype'),(10,'hr','interview'),(9,'jobs','application'),(7,'jobs','job'),(8,'jobs','requirement'),(6,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_interview`
--

LOCK TABLES `hr_interview` WRITE;
/*!40000 ALTER TABLE `hr_interview` DISABLE KEYS */;
INSERT INTO `hr_interview` VALUES (1,'Technical Interview','Admin','2026-07-27','10:00:00.000000','Baliwag Office','2 other interviewers will be join later on to the interview','Scheduled','2026-07-17 13:40:48.021703'),(2,'HR Interview','Admin','2026-07-18','10:30:00.000000','Baliwag Office','','Ongoing','2026-07-17 14:23:25.262578'),(3,'Technical Interview','Admin Gojo','2026-07-24','10:30:00.000000','Baliwag HR Office','','Ongoing','2026-07-21 14:36:17.895872'),(4,'HR Interview','Yuan','2026-07-25','10:00:00.000000','Baliwag Office','','Completed','2026-07-23 05:54:01.989336');
/*!40000 ALTER TABLE `hr_interview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hr_interview_applicants`
--

LOCK TABLES `hr_interview_applicants` WRITE;
/*!40000 ALTER TABLE `hr_interview_applicants` DISABLE KEYS */;
INSERT INTO `hr_interview_applicants` VALUES (1,1,21),(2,2,19),(4,3,23),(3,3,25),(5,4,22);
/*!40000 ALTER TABLE `hr_interview_applicants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `jobs_application`
--

LOCK TABLES `jobs_application` WRITE;
/*!40000 ALTER TABLE `jobs_application` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs_application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `jobs_job`
--

LOCK TABLES `jobs_job` WRITE;
/*!40000 ALTER TABLE `jobs_job` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs_job` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `jobs_requirement`
--

LOCK TABLES `jobs_requirement` WRITE;
/*!40000 ALTER TABLE `jobs_requirement` DISABLE KEYS */;
INSERT INTO `jobs_requirement` VALUES (1,'Management Skills',1),(2,'Assistant Experience',2),(3,'Content Editing Skills',2),(4,'Marketing Savvy',2),(6,'Receive and check incoming deliveries.',6),(7,'Organize and store products in the correct warehouse locations.',6),(8,'Manage and supervise the sales team.',7),(9,'Monitor daily and monthly sales performance.',7),(10,'Prepare sales reports and analyze sales data.',7),(11,'GoodLuck',8);
/*!40000 ALTER TABLE `jobs_requirement` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-14 17:51:57
