<a href="{% url 'candidate_department' %}?department={{ application.job.department|urlencode }}" class="back-link-alt" style="margin-bottom:20px;display:inline-block;background:white;">
    <i class="fas fa-arrow-left"></i>
    Back to Department
</a>
<div class="details-hero-card">
    <div class="hero-content-wrapper">
        <div class="hero-avatar">
            {{ application.first_name|first|upper }}{{ application.last_name|first|upper }}
        </div>
        <div class="hero-left">
            <span class="hero-badge">
                {{ application.job.job_type }}
            </span>
            
            <span class="hero-date">
                Applied on {{ application.created_at|date:"m/d/y" }}
            </span>

            <h1 class="hero-title">
                {{ application.first_name }}
                {% if application.middle_initial  %}
                    {{ application.middle_initial }}
                {% endif %}
                {{ application.last_name}}
            </h1>
            <p class="hero-subtitle">
                {{ application.job.title }}
            </p>
            <h3>Application ID:</h3><span class="hero-badge">{{ application.application_id }}</span>
        </div>
    </div>

    <form method="POST" action="{% url 'update_application_status' application.id %}">
        {% csrf_token %}
        <select name="status" class="status-select" onchange="this.form.submit()">
            {% for value, label in application.STATUS_CHOICES %}
                <option value="{{ value }}"
                    {% if application.status == value %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>
    </form>
</div>
<div class="details-grid">
    <div class="eval-column">
        <div class="eval-card">
            <h3>AI Candidate Insight</h3>
            <div class="eval-content">
                <div class="ai-insight">
                    <strong>
                        <i class="fas fa-robot"></i>
                        AI Score: {{ application.ai_score }}%
                    </strong>
                    <p>
                        <strong>Match Level:</strong>
                        {{ application.ai_match_level|default:"Not Available" }}
                    </p>
                </div>

                <div class="ai-analysis-card">
                    <h2>AI Summary</h2>
                    <p>
                        {{ application.ai_summary|default:"No AI summary available." }}
                    </p>
                </div>

                <div class="ai-analysis-card">
                    <h4>Score Breakdown</h4>
                    <div class="ai-score-breakdown">

                        <div class="ai-score-item">
                            <span>Skills</span>
                            <strong>
                                {{ application.ai_skills_match }}%
                            </strong>
                            <div class="ai-progress">
                                <div class="ai-progress-fill" style="width: {{ application.ai_skills_match }}%;"></div>
                            </div>
                        </div>

                        <div class="ai-score-item">
                            <span>Experience</span>
                            <strong>
                                {{ application.ai_experience_match }}%
                            </strong>
                            <div class="ai-progress">
                                <div class="ai-progress-fill" style="width: {{ application.ai_experience_match }}%;"></div>
                            </div>
                        </div>

                        <div class="ai-score-item">
                            <span>Education</span>
                            <strong>
                                {{ application.ai_experience_match }}%
                            </strong>
                            <div class="ai-progress">
                                <div class="ai-progress-fill" style="width: {{ application.ai_education_match }}%;"></div>
                            </div>
                        </div>

                        <div class="ai-score-item">
                            <span>Key Qualifications </span>
                            <strong>
                                {{ application.ai_qualification_match }}%
                            </strong>
                            <div class="ai-progress">
                                <div class="ai-progress-fill" style="width: {{ application.ai_qualification_match }}%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ai-analysis-two-column">
                    <div class="ai-analysis-card">
                        <h4>
                            <i class="fas fa-check-circle"></i>
                            Matched Qualifications
                        </h4>
                        {% if matched_qualifications %}
                            <ul class="ai-list">
                                {% for qualification in matched_qualifications %}
                                    <li>
                                        {{ qualifications }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No matched qualifications identified.</p>
                        {% endif %}
                    </div>

                    <div class="ai-analysis-card">
                        <h4>
                            <i class="fas fa-exclamation-circle"></i>
                            Missing Qualifications
                        </h4>
                        {% if missing_qualifications %}
                            <ul class="ai-list">
                                {% for qualification in missing_qualifications %}
                                    <li>
                                        {{ qualification }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No missing qualifications identified.</p>
                        {% endif %}
                    </div>
                </div>

                <div class="ai-analysis-two-column">
                    <div class="ai-analysis-card">
                        <h4>
                            <i class="fas fa-thumbs-up"></i>
                            Strengths
                        </h4>
                        {% if strengths %}
                            <ul class="ai-list">
                                {% for strength in strengths %}
                                    <li>
                                        {{ strength }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No strengths available.</p>
                        {% endif %}
                    </div>
                    <div class="ai-analysis-card">
                        <h4>
                            <i class="fas fa-thumbs-down"></i>
                            Weaknesses
                        </h4>
                        {% if weakness %}
                            <ul class="ai-list">
                                {% for weakness in weaknesses %}
                                    <li>
                                        {{ weakness }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No weaknesses available.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-column">
        <div class="info-card">
            <h3>Candidate Info</h3>
            <div class="infor-section">
                <span class="info-label">EMAIL</span>
                <span class="info-val">
                    {{ application.email }}
                </span>
            </div>
            <div class="info-label">
                <span class="info-label">PHONE</span>
                <span class="info-val">
                    {{ application.phone }}
                </span>
            </div>
            <div class="info-section">
                <a href="{{ application.resume.url }}" target="_blank" class="btn-primary"
                style="width:100%;padding:18px;border-radius:12px;font-weight:800;display:block;text-align:center;">
                View Resume
                </a>
            </div>
        </div>
    </div>
</div>