<div class="category-grid">

{% for card in department_cards %}

<div class="category-card">

    <div class="category-card-header">
        <h3>{{ card.department }}</h3>

        <span class="count">
            {{ card.job_count }} Active Job{{ card.job_count|pluralize }}
        </span>
    </div>

    <div class="top-applicants-list">

        {% for application in card.top_applicants %}

        <div class="top-applicant-item">

            <div class="applicant-snippet">

                <div class="mini-avatar">
                    {{ application.first_name|first|upper }}{{ application.last_name|first|upper }}
                </div>

                <div class="info">
                    <h4>
                        {{ application.first_name }}
                        {% if application.middle_initial %}
                            {{ application.middle_initial }}.
                        {% endif %}
                        {{ application.last_name }}
                    </h4>
                    <p>{{ application.job.title }}</p>
                </div>

            </div>

            <span class="mini-score
                {% if application.ai_score >= 90 %}
                    score-high
                {% elif application.ai_score >= 75 %}
                    score-mid
                {% else %}
                    score-low
                {% endif %}">
                    {{ application.ai_score }}%
            </span>

        </div>

        {% empty %}

        <p>No applicants yet.</p>

        {% endfor %}

    </div>

    <div class="category-card-footer">

        <a href="{% url 'candidate_department' card.department %}" class="btn-manage">
            Check All Applications 
        </a>

    </div>

</div>

{% endfor %}

</div>