<div class="content-box-job">
    <div class="box-header">
        <h3>Active Jobs</h3>
    </div>
                
    <div class="admin-job-grid">
    <!-- Job 1 -->
                    
    {% for job in active_jobs %}
        {% include "hr/partials/job_card.html" %}
    {% empty %}
        <p>No active Jobs.</p>
    {% endfor %}

    </div>
</div>
<div class="content-box-job inactive-jobs-box">
    <div class="box-header">
        <h3>Inactive Jobs</h3>
    </div>

    <div class="admin-job-grid">
    {% for job in inactive_jobs %}  
        {% include "hr/partials/inactive_job_card.html" %}
    {% empty %}
        <p>No inactive jobs.</p>
    {% endfor %}
        </div>
</div>