{% extends "home_admin.html" %}
{% load static %}

{% block admin_body %}
<main class="interview-detail-page">
    <header class="dashboard-header">
        <div class="header-left">
            <a href="{% url "interviews" %}" class="btn-back-header">
                <i class="fas fa-arrow-left"></i>
                Back
            </a>
            <div>
                <h2>{{ interview.applicants.first.job.title }}</h2>
                <p>{{ interview.interview_type }}</p>
            </div>
        </div>
        <div class="header-right">
            <span class="status-badge">
                {{ interview.status }}
            </span>
        </div>
    </header>
    <div class="interview-detail-grid">
        <div class="interview-detail-main">
            {% include "hr/partials/interview_information.html" %}
            {% include "hr/partials/interview_applicants.html" %}
        </div>
        <div class="interview-detail-sidebar">
            {% include "hr/partials/interview_status.html" %}
        </div>
    </div>

</main>



{% endblock  %}