<div class="bg-container dim"></div>
<div id="apply-flow">
    <h1>Application Submitted!</h1>
    <span class="badge-full" >This is your Application ID <strong>{{ application.application_id }}</strong></span>
    <span class="badge-full">Your AI score is {{application.ai_score}}</span>
    <a
        href=""
        class="btn btn-primary">
        Start Video Interview
    </a>
    <a href="{% url 'jobs' %}" class="btn btn-outline-alt" >
        Browse More Jobs
    </a>
    <a href="{% url 'track' %}" class="btn btn-outline-alt">
        Track Status
    </a>
</div>