{% extends "home.html" %}
{% load static %}

{% block body %}

<main class="main-content-wide">

    <div class="content-header">

        <h1 class="page-title">
            Application Form
        </h1>

    </div>


    <div
        class="apply-container glass-white"
        id="apply-flow"
    >

        {% if error %}

            <div class="form-error">
                {{ error }}
            </div>

        {% else %}

            {% include "jobs/partials/personal_info.html" %}

        {% endif %}

    </div>

</main>

{% endblock %}